    *{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.wrapper,.wrapper1{
  min-height:100vh;
  background-color:rgba(189, 187, 220, 0.86) ;
  -webkit-animation-name: first; 
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;   // to repate the colour changes contiously
  animation-name: first;
  animation-duration: 4s;
  animation-iteration-count: infinite;   // to repate the colour changes contiously
}


@-webkit-keyframes first {
  from {background-color: blue;}
  to {background-color:rgba(189, 187, 220, 0.86);}
}


@keyframes first {
  from {background-color: blue;}
  to {background-color: rgba(189, 187, 220, 0.86);}
  font-family: 'Open Sans', sans-serif;
  padding-top:40px;
}
.container,.container1{
  max-width:400px;
  margin-left:1000px;
  background-color:white;
  text-align:center;
  padding:50px 0;
  box-shadow:0 0 20px rgba(0,0,0,.4);
  border-radius:3px;
}
.wrapper1{min-height:120vh;}
.container1{max-width:600px;}
.social-login{
  display:block;
  width:50%;
  margin: 5px auto;
  text-decoration:none;
  padding:10px 15px;
  color:#fff;
  border-radius:3px;
  margin-bottom:10px;
  transition:all .3s ease-in-out;
}
.social-login:hover{
    box-shadow:0 10px 15px -5px rgba(0,0,0,0.4);
}
a.fb-login{
  background-color:rgb(3, 46, 184);
}
a.google-login{
  background-color:#db4437;
}
form{
  max-width:250px;
  margin:0 auto;
  text-align:left;
}
.form1{
  max-width:350px;
  margin:0 auto;
  text-align:left;
}


p.seperator{
  margin:25px;
}
div.group{
  margin-top:15px;
    width
}
label{
  display:block;
  margin-bottom:5px;
  text
}
div.group input{
  width:100%;
  padding:10px 4px;
  outline:none;
}
a.forget-link{
  color:black;
  display:block;
  margin:10px 0;
}

input[type="submit"],.btnsub{
  padding:15px 35px;
  outline:none;
  border:None;
  background-color:#20c198;
  color:white;
  transition:all .3s ease-in-out;
}
.signup{
  padding:15px 35px;
  outline:none;
  border:None;
  background-color:#80c198;
  color:white;
  transition:all .3s ease-in-out;
    margin-top: 10px;
    margin-left: 30px;
    
}
.reset{
  padding:15px 35px;
  outline:none;
  border:None;
  background-color:#80c198;
  color:white;
  transition:all .3s ease-in-out;
    margin-top: 10px;
}
.btnsub:hover{
  cursor:pointer;
  box-shadow:0 10px 15px -5px rgba(0,0,0,0.4);
}

.signup:hover{
  cursor:pointer;
  box-shadow:0 10px 15px -5px rgba(0,0,0,0.4);
}
.reset:hover{
  cursor:pointer;
  box-shadow:0 10px 15px -5px rgba(0,0,0,0.4);
}
        #unamespan,#pwdspan
        {
            color:red;
        }


.Head
{
font-weight:bold;
color:Green;
}